<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="stylesheets/assets/css/variaveis.css" />
    <link rel="stylesheet" href="stylesheets/assets/css/style.css" />
    <title>Landing Page - Com modo noturno</title>
  </head>
  <body data-theme="light">
    <div class="container">
      <div class="modo__noturno">
        <i class="far fa-sun" id="theme"></i>
        <a class="sair" href="/logout"><i class="fas fa-door-open"></i>
        </a>
      </div>
      <header class="header">
        <div class="header__container">
          <div class="header__text__wrapper">
            <h2 class="header__titulo">Lorem ipsum dolor sit amet</h2>
            <p class="header__desc">
              Olá! Seja muito Bem-Vindo!<%=usuario%>
            </p>
            <button class="header__button">Botão!</button>
          </div>
          <div class="header__img">
            <img
              class="header__img__style"
              src="stylesheets/assets/image/image.svg"
              alt=""
            />
          </div>
        </div>
      </header>
      <main class="main">
        <div class="main__container">
          <div class="cards">
            <div class="cards__color cards__color--one"></div>
            <div class="card__text__wrapper">
              <h2 class="card__titulo">Título do Card</h2>
              <p class="card__desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vestibulum in neque et nisl.
              </p>
            </div>
          </div>
          <div class="cards">
            <div class="cards__color cards__color--two"></div>
            <div class="card__text__wrapper">
              <h2 class="card__titulo">Título do Card</h2>
              <p class="card__desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vestibulum in neque et nisl.
              </p>
            </div>
          </div>
          <div class="cards">
            <div class="cards__color cards__color--three"></div>
            <div class="card__text__wrapper">
              <h2 class="card__titulo">Título do Card</h2>
              <p class="card__desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vestibulum in neque et nisl.
              </p>
            </div>
          </div>
          <div class="cards">
            <div class="cards__color cards__color--four"></div>
            <div class="card__text__wrapper">
              <h2 class="card__titulo">Título do Card</h2>
              <p class="card__desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vestibulum in neque et nisl.
              </p>
            </div>
          </div>
          <div class="cards">
            <div class="cards__color cards__color--five"></div>
            <div class="card__text__wrapper">
              <h2 class="card__titulo">Título do Card</h2>
              <p class="card__desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vestibulum in neque et nisl.
              </p>
            </div>
          </div>
          <div class="cards">
            <div class="cards__color cards__color--six"></div>
            <div class="card__text__wrapper">
              <h2 class="card__titulo">Título do Card</h2>
              <p class="card__desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vestibulum in neque et nisl.
              </p>
            </div>
          </div>
        </div>
      </main>
      <div class="contato">
        <div class="contato__container">
          <h2 class="contato__titulo">Entre em contato</h2>
          <form class="form" action="">
            <input
              class="form__input"
              type="text"
              name=""
              id=""
              placeholder="Nome"
            />
            <input
              class="form__input"
              type="email"
              name=""
              id=""
              placeholder="E-mail"
            />
            <input
              class="form__input"
              type="tel"
              name=""
              id=""
              placeholder="Telefone"
            />
            <textarea
              class="form__input textarea"
              name=""
              id=""
              cols="30"
              rows="10"
              placeholder="Mensagem..."
            ></textarea>
            <button class="form__input button__style" type="submit">
              Enviar Mensagem
            </button>
          </form>
        </div>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/72b828f62d.js"
      crossorigin="anonymous"
    ></script>
    <script>
        const icon = document.querySelector("#theme");
        const body = document.querySelector("body");
        icon.addEventListener("click", function () {
        if (icon.classList.contains("fa-sun")) {
            icon.classList.remove("fa-sun");
            icon.classList.add("fa-moon");
            body.dataset.theme = "dark";
        } else {
            icon.classList.remove("fa-moon");
            icon.classList.add("fa-sun");
            body.dataset.theme = "light";
        }
        });

    </script>
  </body>
</html>
