.container-fluid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  margin: 0;
}
.img_wraper {
  padding-left: 160px;
  padding-top: 264px;
  padding-bottom: 213px;
  background-color: var(--white300);
  width: 100%;
  height: 100%;
}
.img_wraper img {
  width: 400px;
  height: 330.67;
}
.form {
  padding-left: 193px;
  padding-right: 193px;
  padding-top: 213px;
  padding-bottom: 213px;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  margin: 0 auto;
}
.saudacao {
  font-family: Merriweather;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--dark);
  margin-bottom: 7px;
}
.titulo {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: var(--dark);
  margin-bottom: 40px;
}
.form-label {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--dark);
  margin-bottom: 11px;
}
.form-control {
  height: 50px;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 11px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}
.label-wraper{
  display: flex;
  justify-content: space-between;
}
.form-check-label {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}
.link {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: var(--blue);
}
.form-check-input:checked {
  background-color: var(--green);
  border-color: var(--green);
}
.btn {
  border-radius: 5px;
  width: 100%;
  height: 50px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: var(--white);
  margin-bottom: 15px;
}
.btn-primary {
  border-color: var(--green);
  background-color: var(--green);
}
.btn-dark {
  border-color: var(--dark);
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-dark img {
  margin-right: 11px;
}
.cadastro {
  text-align: center;
  margin-top: 160px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--dark);
}
.cadastro-link {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--blue);
}
@media (max-width: 1000px) {
  .container {
    display: inline-block;
    margin: 0 auto;
  }
  .img_wraper {
    display: none;
  }
  .form {
    padding-top: 150px;
    padding-left: 30px;
    padding-right: 30px;}
}
@media(max-width:560px){
  .form{
    padding-right: 30px;
  }
}